/* 🌐 Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind Setup */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌐 Global Defaults */
html,
body,
#__next {
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* 🎨 Support Graphics */
.support-top-graphics {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: -12% 0% auto;
}

.support-top-graphics.support-adjust-graphics {
  top: -9.4rem;
}
